<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test name="parallelized_1 ">
        <classes>
            <class name="paralleltesting.ParallelMethods"/>


        </classes>
    </test>

    <test name="parallelized_2 ">
        <classes>

            <class name="paralleltesting.ParallelClass"/>


        </classes>
    </test>
</suite>